@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.MuiFormControl-root {
  margin: 10px 0 !important;
}

.grie-container {
  padding: 20px;
}

.grie-card {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  line-height: 2;
  border-radius: 12px;
}
